

:root {
  --backgroundDarkBlue: #041e2f;
  --backgroundPurple: #7a4e76;
  --backgroundPurpleHover: #b46dad;
  --backgroundBlue: #082c43;
  --backgroundDarkBlue: #0E0A1D;

  --backgroundBlack: #111111;
  --colorGrey: rgb(212, 212, 212);
}

img {
  height: auto;
  width: 100%;
}
body {
  background: var(--backgroundBlue) !important;
}
input,
label{
    cursor: pointer;
}
