$whiteColor: #fff;
$lightGrayColor: #ececec;
$grayColor: #aeafb3;
$boxShadowImage: 2px 2px 5px $grayColor;
$borderRadiusImage: 4px;
* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background: $whiteColor !important;
}
.page {
  background: $whiteColor;
  height: auto;
  width: 100vw;
  margin-top: 7vh;

  .nav {
    border-top: 4px solid $lightGrayColor;
    border-bottom: 4px solid $lightGrayColor;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    width: 100%;

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    &__item {
      position: relative;
      list-style: none;
      text-align: center;
      cursor: pointer;
      color: $grayColor;
      font-size: 1.2em;

      padding: 10px 15px;
      transition: color 0.3s;

      &:hover {
        color: black;
      }

      &__active {
        color: $grayColor;
        font-weight: bold;
      }

      .nav__underline {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 4px;
        background-color: $grayColor;
      }
    }
  }
}