$whiteColor: #fff;
$lightGrayColor: #ececec;
$grayColor: #aeafb3;
$boxShadowImage: 2px 2px 5px $grayColor;
$borderRadiusImage: 4px;
* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $whiteColor !important;
}
.page {
  background: $whiteColor;
  height: auto;
  width: 100vw;
  margin-top: 7vh;

  .nav {
    border-top: 4px solid $lightGrayColor;
    border-bottom: 4px solid $lightGrayColor;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    width: 100%;

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    &__item {
      position: relative;
      list-style: none;
      text-align: center;
      cursor: pointer;
      color: $grayColor;
      font-size: 1.2em;

      padding: 10px 15px;
      transition: color 0.3s;

      &:hover {
        color: black;
      }

      &__active {
        color: $grayColor;
        font-weight: bold;
      }

      .nav__underline {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 4px;
        background-color: $grayColor;
      }
    }
  }
  .content {
    width: 70%;
    margin: 2% auto;
    .content__section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .content__title {
        font-weight: bold;
        font-size: 3.5em;
        line-height: 1em;
      }
      .content__description {
        font-size: 1em;
        font-weight: 400;
        line-height: 35px;
      }
      .content__text {
        width: 40%;
      }
      .content__image {
        display: flex;
        justify-content: flex-end;
        img {
          width: 80%;
          height: auto;
          border-radius: $borderRadiusImage;
          box-shadow: 2px 2px 5px $grayColor;
        }
      }
    }
    .content__section_double {
      display: flex;
      margin-top: 8vh;
      flex-direction: column;
      .content__image_double {
        display: flex;
        justify-content: space-between;
        gap: 2vw;
        img {
          border-radius: $borderRadiusImage;
          box-shadow: $boxShadowImage;
        }
      }
      .content__text_double {
        display: flex;
        justify-content: space-between;
        gap: 2vw;
        .content__text {
          background: rgba(221, 221, 221, 0.14);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(2.5px);
          -webkit-backdrop-filter: blur(2.5px);
          border: 1px solid rgba(221, 221, 221, 0.02);
          padding: 2% 3%;
          width: 100%;
          ul {
            margin-top: 2%;
            li {
              list-style: square;
            }
          }
        }
      }
    }
    .content__section_one {
      margin-top: 2%;
      display: flex;
      justify-content: space-between;
      gap: 2%;
      .content__image {
        img {
          width: 100%;
          height: auto;
          border-radius: $borderRadiusImage;
          box-shadow: $boxShadowImage;
          margin: 0 !important;
        }
      }
      .content__text {
        background: rgba(221, 221, 221, 0.14);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.5px);
        -webkit-backdrop-filter: blur(2.5px);
        border: 1px solid rgba(221, 221, 221, 0.02);
        padding: 2% 3%;
      }
    }
    .content__section__triple {
      display: flex;
      flex-direction: column;
      margin-top: 10%;
      .content__image {
        display: flex;
        justify-content: space-between;
        gap: 2vw;
        margin-top: 4%;
        display: flex;
        &__item {
          display: flex;
          flex-direction: column;
          gap: 2vh;
          text-align: center;
        }
        img {
          border-radius: $borderRadiusImage;
          box-shadow: $boxShadowImage;
          transition: transform 0.8s ease-out;
          &:hover {
            transform: translateY(-10px);
          }
        }
      }
      .content__text {
        .content__title {
          font-size: 2.5em;
        }
      }
    }
    .content_section__fullwidth {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 4%;
      p {
        text-align: center;
        padding-top: 2vh;
      }
      iframe {
        width: 80%;
        height: 35vh;
        margin: 0 auto;
      }
    }
    .content__section_triangle {
      display: grid;
      margin-top: 4%;
      grid-template-areas:
        'img img'
        'description1 description2';
      gap: 4%;

      .content_image {
        grid-area: img;
        img {
          border-radius: $borderRadiusImage;
          box-shadow: $boxShadowImage;
          transition: transform 0.8s ease-out;
        }
      }

      .content__text {
        background: rgba(221, 221, 221, 0.14);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.5px);
        -webkit-backdrop-filter: blur(2.5px);
        border: 1px solid rgba(221, 221, 221, 0.02);
        padding: 2% 3%;
        &--1 {
          grid-area: description1;
        }
        &--2 {
          grid-area: description2;
        }
      }
    }
  }
}
.content_air_block {
  padding: 2%;
  // background: rgba(255, 255, 255, 0.2);
  // border-radius: 16px;
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  // backdrop-filter: blur(5px);
  // -webkit-backdrop-filter: blur(5px);
  // border: 1px solid rgba(255, 255, 255, 0.3);
  ol {
    li {
      line-height: 5vh;
      list-style: none;
    }
  }
}
.line {
  position: absolute;
  left: 0;
  margin: 3% 0;
  width: 100vw; /* Линия занимает всю ширину экрана */
  height: 1.3vh; /* Высота линии */
  background: #05759f;
  transform: scaleX(0); /* Скрыта по X */
  transform-origin: left; /* Анимация начинается с левой стороны */
  transition: transform 0.8s ease-out; /* Плавное появление */
}

.line.visible {
  transform: scaleX(1); /* Линия растягивается на всю ширину */
}
